<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.api.mapper.PsyQuestionTopicRecordMapper">

    <insert id="insertBatchRecord">
        insert into psy_question_topic_record (question_record_id,
        question_topic_id,question_topic_text,question_topic_type,question_option_id,
        question_option_text,question_option_score,order_num,create_id,create_date)
        select #{questionRecordId}, a.id, a.topic, '1', b.id, b.option_name, b.option_score,
               a.order_num, #{userId}, now() from
        psy_question_topic a
        join psy_question_topic_options b on a.id = b.question_topic_id
        where b.question_id = #{questionId} and b.id in
        <foreach item="item" collection="selectedOptionId" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </insert>

    <insert id="insertGapFill">
        insert into psy_question_topic_record (question_record_id,
        question_topic_id,question_topic_text,question_topic_type,
        question_gap_fill_text,order_num,create_id,create_date)
        select #{questionRecordId}, a.id, a.topic, '2', #{gapFillText}, a.order_num, #{userId}, now() from
        psy_question_topic a
        where a.question_id = #{questionId} and a.id = #{topicId}
    </insert>

    <select id="selectListBySearchKey" resultType="com.bootdo.api.entity.vo.question.QueryQuestion">
        select a.id,b.id AS questionId,b.title,i.index_title,c.nick_name,d.name,
        a.submit_date_full,a.submit_score,a.sum_score
        from psy_question_record a
        left join psy_question b on a.question_id = b.id
        left join psy_question_index i on b.index_id = i.id
        left join sys_wx_user c on a.open_id = c.open_id
        left join sys_wx_user_info d on a.open_id = d.open_id
        where 1=1
        <if test="recordIds != null and recordIds != ''"> and a.id in (${recordIds}) </if>
        <if test="questionId != null and questionId != ''"> and a.question_id = #{questionId} </if>
        <if test="nickName != null and nickName != ''"> and c.nick_name like CONCAT('%', #{nickName}, '%') </if>
        <if test="name != null and name != ''"> and d.name like CONCAT('%', #{name}, '%') </if>
        <if test="submitScore != null and submitScore != ''"> and a.submit_score = #{submitScore} </if>
        <if test="submitDate != null and submitDate != ''">
            and a.submit_date = #{submitDate}
        </if>
        order by a.submit_date_full desc
        <if test="page != null and pageSize != null">
            LIMIT #{page}, #{pageSize}
        </if>
    </select>

    <select id="selectListBySearchKeyCount" resultType="Integer">
        select count(*)
        from psy_question_record a
        left join psy_question b on a.question_id = b.id
        left join sys_wx_user c on a.open_id = c.open_id
        left join sys_wx_user_info d on a.open_id = d.open_id
        where 1=1
        <if test="questionId != null and questionId != ''"> and a.question_id = #{questionId} </if>
        <if test="nickName != null and nickName != ''"> and c.nick_name like CONCAT('%', #{nickName}, '%') </if>
        <if test="name != null and name != ''"> and d.name like CONCAT('%', #{name}, '%') </if>
        <if test="submitScore != null and submitScore != ''"> and a.submit_score = #{submitScore} </if>
        <if test="submitDate != null and submitDate != ''">
            and a.submit_date = #{submitDate}
        </if>
    </select>

</mapper>